:root.theme-dark {
  --bg-img: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --decor-color: #FF0070;
  --accent-color: #FF0070;
  --header-color: #DB00FF;
  --text-color: #F1B2CE;
  --menu-color:  #FF0070;
  --menu-color-rgb: rgba(255, 0, 112, 0.4);
}